.App {
  text-align: center;
}

header,
footer {
  background-color: #282c34;
  color: #fff;
  height: clamp(4.375rem, calc(4.375rem + 1vw), 7.5rem);
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.meme_img {
  width: clamp(50px, calc(50px + 0.5rem), 10%);
  margin-right: 2rem;
}

.meme_title {
  /* border: 2px solid red; */
  font-size: 2rem;
  background: linear-gradient(to left, blue, red, violet);
  color: transparent;
  background-clip: text;
}
