.App {
  text-align: center;
  height: 100vh;
}

header,
footer {
  color: #fff;
  height: clamp(4.375rem, calc(4.375rem + 1vw), 7.5rem);
  width: 100%;
}
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme_img {
  width: clamp(50px, calc(50px + 0.5rem), 10%);
  margin-right: 2rem;
}

.meme_title {
  /* border: 2px solid red; */
  font-size: 2rem;
  background: linear-gradient(to left, blue, red, violet);
  color: transparent;
  background-clip: text;
}

.meme_container {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 2px solid red; */
}

.meme_container_btn {
  width: 250px;
  padding: 1rem 1.2rem;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #282c34;
  box-shadow: inset 38px 38px 76px #22252c, inset -38px -38px 76px #2e333c;
  transition: all 300ms ease-in-out;
}

.meme_container_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 50px;
  background: #282c34;
  box-shadow: 38px 38px 76px #22252c, -38px -38px 76px #2e333c;
}

.meme_container_btn span {
  text-transform: uppercase;
  font-size: 1.5rem;
  background: linear-gradient(to right, blue, red, violet);
  color: transparent;
  background-clip: text;
}

.meme__result {
  max-width: 50vw;
}
